<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layoutAdmin}">
    <head>
        <title>Edit Bank</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col" layout:fragment="content">
                    <form method="post" onsubmit="return validateForm()"
                          action="/banks/update" role="form">
                        <label class="setupHeaderLabel"> Update bank</label><br />
                        <br />
                        <table>
                            <tr>
                                <td>
                                    <table style="border-spacing: 10px; border-collapse: separate; width: 610px;">
                                        <tbody>
                                            <tr>
                                                <td class="labelColor" style="width: 90px">
                                                    <label> Bank Code</label></td>
                                                <td>
                                                    <input type="text" name="code" id="code" maxlength="3" style="width: 250px;" th:field="${bank.code}"/>
                                                    <label style="color: red;">*</label>
                                                    <label id="msgBankCode" style="font-size: 12px; color: red;"></label>
                                                    <input type="text" name="id" id="id" th:field="${bank.id}" style="display: none;" />
                                                </td>
                                            </tr>
                                                
                                            <tr>
                                                <td class="labelColor">
                                                    <label> Bank Name</label></td>
                                                <td>
                                                    <input type="text" name="name" id="name" maxlength="100" style="width: 250px;" th:field="${bank.name}"/>
                                                    <label style="color: red;">*</label>
                                                    <label id="msgBankName" style="font-size: 12px; color: red;"></label>
                                                </td>
                                            </tr>
                                                
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                            
                        <input
                            type="submit" id="submit" value="Save" class="btn btn-primary"></input>
                        <input type="button" id="cancel" value="Cancel"
                               class="btn btn-primary"
                               onclick="javascript:window.location='/banks';"></input>
                        &nbsp;<label id="lblStatus"></label>
                        <br/>
                        <br/>
                        <br/>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
<script src="/js/configuration/bank.js"></script>